* {
    box-sizing: border-box;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI", Roboto,
    "Helvetica Neue", Arial,
    "Noto Sans", sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: var(--bs-gray);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 5px;
    background-color: lightgray;
}


img {
    width: 100%;
}


.logo-con img {
    width: 100%;
    z-index: 100;
}


.navbar a {
    color: white;
    border-color: orangered;
}

.navbar a:hover {
    border-color: orangered;
    background-color: orangered;
}

.intro {
    height: 600px;
    position: relative;
}

.intro .container {
    position: relative;
    height: inherit;
}

.intro h1 {
    width: 700px;
    font-size: 60px;
    margin: 0 auto;
}

.intro p {
    width: 350px;
    font-size: 40px;
    background-color: orangered;
    margin: 0 auto;
}

i {
    color: orangered;
}

.info-content {
    padding: 50px;
    transition: ease-in-out 500ms;
    font-weight: 200;
}

.info-content > div {
    width: 200px;
    margin: 0 auto;
}

.info-content:hover {
    color: white;
    background-color: black;
}

/*.tracker input[type='text'] {*/
/*    width: 70%;*/
/*    background-color: transparent;*/
/*    border: 1px solid white;*/
/*    color: white;*/
/*    border-radius: 10px;*/
/*}*/

.tracker {
    align-items: center;
    border: 1px solid orangered;
}

.tracker p {
    font-weight: lighter;
    font-size: 20px;
    padding: 2px;
    border-radius: 2px;

}

.tracker .btn {
    background-color: orangered;
    border-color: orangered;

}


.mission-sub-con > div {
    width: 400px;
    background-color: transparent;
}


@media (max-width: 1000px) {
    .intro h1 {
        font-size: 40px;
        width: 500px;
    }

    .intro p {
        font-size: 30px;
    }

    .navbar nav {
        display: none;
    }

    .tracker {
        align-items: center;
        flex-direction: column;
    }

    .tracker p {
        padding: 1px;
        background-color: transparent;
    }
}