//navbar

.navbar {
  background-color: var(--bs-dark);
  top: 0 !important;
  height: 120px;
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 500;

  .container {
    height: 100px;
    align-content: center;
    justify-content: space-between;

    .logo-con {
      position: relative;
      top: 20px;
      width: 400px;

      img {
        width: 100%;
      }

    }

    ul {
      gap: 20px;

    }

    nav {
      height: max-content;
    }

  }

}

.modal {
  margin: 40px;
  background-color: rgba($color: orangered, $alpha: .3);
  margin: 0 auto;

  .inner-con {
    position: relative;
    width: 80%;
    height: 92%;
    background-color: orangered;
    margin: 30px auto;



    #close {
      position: absolute;
      display: block;
      left: 98%;
      margin-top: 3px;
      border: 1px solid invert(black);
      padding: 0 3px;

      &:hover {
        cursor: pointer;
        background-color: beige;
      }

    }
  }
}

