.navbar {
  background-color: var(--bs-dark);
  top: 0 !important;
  height: 120px;
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 500;
}
.navbar .container {
  height: 100px;
  align-content: center;
  justify-content: space-between;
}
.navbar .container .logo-con {
  position: relative;
  top: 20px;
  width: 400px;
}
.navbar .container .logo-con img {
  width: 100%;
}
.navbar .container ul {
  gap: 20px;
}
.navbar .container nav {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

/* 
.modal {
  margin: 40px;
  background-color: rgba($color: orangered, $alpha: 0.3);
  margin: 0 auto;

  .inner-con {
    position: relative;
    width: 80%;
    height: 92%;
    background-color: orangered;
    margin: 30px auto;

    #close {
      position: absolute;
      display: block;
      left: 98%;
      margin-top: 3px;
      border: 1px solid white;
      padding: 0 3px;

      &:hover {
        cursor: pointer;
        background-color: black;
        border-color: white;
        color: white;
      }
    }
  }
} */
.experience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10%;
  gap: 2rem;
}
@media screen and (min-width: 760px) {
  .experience {
    flex-direction: row;
  }
}
.experience > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  min-width: 500px;
}
@media screen and (min-width: 760px) {
  .experience > div:first-child {
    max-width: 50%;
  }
}
.experience > div:first-child * {
  font-size: 15px;
}
.experience > div:first-child h1 {
  font-weight: 700;
  font-size: 35px;
}
.experience > div:first-child .bold {
  font-weight: bold;
  font-max-size: 18px;
}
.experience > div:first-child .badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.experience > div:first-child .badges > div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.experience > div:first-child .badges > div > div {
  height: 50px;
}
.experience > div:first-child .badges h2 {
  font-size: 18px;
  font-weight: bold;
}
.experience > div:first-child .badges img {
  max-width: 50px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.experience > div:first-child ul {
  list-style-type: none;
}
.experience > div:first-child li:before {
  font-family: FontAwesome;
  content: "\f560";
  margin-right: 0.4rem;
  font-weight: bolder;
  color: #4c84db;
}
.experience > div:last-child {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.experience > div:last-child img {
  max-width: 100%;
}
@media screen and (min-width: 760px) {
  .experience > div:last-child img {
    width: 500px;
  }
}

.beyond-logistics {
  background-image: url("/static/media/beyondlog/logis-50.jpg");
  background-repeat: no-repeat;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.beyond-logistics .shade {
  background-color: rgba(0, 0, 0, 0.6) !important;
  padding: 1rem;
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.beyond-logistics .logistics__first {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* ceo con */
}
@media screen and (min-width: 760px) {
  .beyond-logistics .logistics__first {
    max-width: 500px;
  }
}
.beyond-logistics .logistics__first * {
  color: white;
}
.beyond-logistics .logistics__first h1 {
  font-size: 35px;
  font-weight: 900;
}
.beyond-logistics .logistics__first p {
  font-size: 15px;
}
.beyond-logistics .logistics__first .ceo__con {
  display: flex;
  gap: 0.5rem;
}
.beyond-logistics .logistics__first .ceo__con .ceo__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.beyond-logistics .logistics__first .ceo__con .ceo__info .ceo__name {
  font-weight: bold;
}
.beyond-logistics .logistics__first .ceo__con .ceo__info .ceo__role {
  color: #4c84db;
}
.beyond-logistics .logistics__first .ceo__con img {
  max-width: 70px;
  max-height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border: 1px solid white;
  border-radius: 50%;
}
.beyond-logistics .logistics__last {
  display: flex;
  gap: 1rem;
  width: 600px;
  flex-direction: column;
}
.beyond-logistics .logistics__last .cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 100px);
  gap: 1rem;
}
.beyond-logistics .logistics__last .card {
  width: 100%;
  padding: 1rem;
  background-color: #1d428a;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 0;
}
.beyond-logistics .logistics__last .card * {
  color: white;
}
.beyond-logistics .logistics__last .card h5 {
  font-weight: bold;
}
.beyond-logistics .logistics__last .card .faded {
  font-weight: lighter;
  color: #96bee9;
  font-size: 14px;
}
.beyond-logistics .logistics__last .card img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}
.beyond-logistics .logistics__last .video__play {
  background-image: url("/static/media/beyondlog/logis-52.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.beyond-logistics .logistics__last .video__play .pulse {
  background-color: #4c84db;
  width: 70px;
  height: 70px;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beyond-logistics .logistics__last .video__play .pulse * {
  color: white;
}
.beyond-logistics .logistics__last .video__play .pulse i {
  font-size: 2rem;
}

.meet_the_team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.meet_the_team > div {
  display: flex;
  gap: 2rem;
  max-width: 1080px;
  flex-wrap: wrap;
  justify-content: center;
}
.meet_the_team .teammates {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
}
.meet_the_team .teammates .info {
  text-align: center;
}
.meet_the_team .teammates .info h4 {
  font-weight: bold;
}
.meet_the_team .teammates .info p {
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */