{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'ship/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'ship/App.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=48ef30a7-5bd4-491b-88c8-fc0d43ed8923&lang=en_US"
            type="text/javascript">
        <link href="http://fonts.googleapis.com/css?family=Roboto%3A700%2C300" rel="stylesheet" property="stylesheet"
              type="text/css" media="all">
    </script>
    <script src="{% static 'js/main.mjs' %}" type="module"></script>
<script src="{% static 'js/nav.js' %}" type="module"></script>
    {% block head %}
    {% endblock %}


    <title>Express Shipping Service</title>
</head>
<body class="">
{% include 'ship/Navbar.html' %}

{% block content %}

{% endblock %}

</body>
</html>