{% extends 'ship/Base.html' %} {% load static %} {% block content %}
<section class="intro bg-dark">
  <div
    class="container py-4 text-white text-center d-flex flex-column justify-content-around"
  >
    <div>
      <p class="mt-5">We are the leading</p>
      <h1 class="">WORLDWIDE FREIGHT DELIVERY</h1>
    </div>
    {% comment %}
    <div class="tracker py-2 d-flex gap-3">
      <p>Enter Tracking number</p>

      <input type="text" class="px-3 mx-4" name="tracking num" id="tinput" />
      <input
        id="tracking-btn"
        type="button"
        class="btn btn-primary px-3 mx-4"
        value="Track"
      />
    </div>
    {% endcomment %}
  </div>
</section>
<section class="bg-dark text-white">
  <div class="container p-3 d-flex justify-content-around align-content-center">
    <div class="d-flex gap-4">
      <i class="fas fa-clock fa-3x"></i>
      <div>
        <h4>OPENING TIMES</h4>
        <p>Monday – Friday: 08:00 – 16:00</p>
      </div>
    </div>
    <div class="d-flex gap-4">
      <i class="fas fa-location fa-3x"></i>
      <div>
        <h4>OUR LOCATION</h4>
        <p>16 Cavendish Square, London, W1, W1G</p>
      </div>
    </div>
    <div class="d-flex gap-4">
      <i class="fas fa-phone fa-3x"></i>
      <div>
        <h4>OUR PHONE</h4>
        <p>+447360517322</p>
      </div>
    </div>
  </div>
</section>
<section class="info p-1">
  <div class="container">
    <div class="row text-center">
      <div class="info-content col">
        <h3>Ocean Freight</h3>
        <hr />
        <div><img src={% static 'media/1-1.png' %} alt='img'/></div>
        <p>
          Book ocean freight shipping services easily. Our platform offers you
          instant quotes, full price transparency and round-the-clock sea
          freight tracking
        </p>
      </div>
      <div class="info-content col">
        <h3>Air Freight</h3>
        <hr />
        <div><img src={% static 'media/2-1.png' %} alt='img'/></div>
        <p>
          Working with carefully selected carriers, we operate with schedules on
          all the world’s major routes so you can plan with certainty and become
          more efficient. We offer a range of highly flexible products which
          allow a choice of delivery speeds to best suit your requirements.
        </p>
      </div>
      <div class="info-content col">
        <h3>Contract Logistics</h3>
        <hr />
        <div><img src={% static 'media/3-1.png' %} alt='img'/></div>
        <p>
          When it comes to time to market and cost-effective supply chain
          systems, optimized logistics platforms are key-performance drivers.
          Space utilization, leaner and automated processes, enhanced picking
          and shipping operations are some drivers for efficiency.
        </p>
      </div>
      <div class="info-content col">
        <h3>Cargo Express</h3>
        <hr />
        <div><img src={% static 'media/4-1.png' %} alt='img'/></div>
        <p>
          Smart Express Delivery is service driven and people-sensitive.
          Effective management and excellent relationships with the business
          partners is essential to our successful operation and profitable
          growth.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="experience">
  <div>
    <h1>Experience Fassle Free Happiness.</h1>
    <p class="bold">
      We are an integrated logistics service company with a direct presence in
      more than 130 countries with our own offices.
    </p>
    <p>
      Our approach is to provide fast and effective solutions using a
      methodological structure that has been proven to increase efficiency,
      reduce costs and protect our clients in terms of their supply chain
    </p>

    <ul>
      <li>Security of packages transported</li>
      <li>Provide our employees enjoyable work environment</li>
      <li>Provide top-notch customer service</li>
    </ul>

    <div class="badges">
      <div>
        <img src="{% static 'media/shield.png' %}" alt="shield" />
        <div>
          <h2>Secure Packaging</h2>
          <p>Security of the packages we transport.</p>
        </div>
      </div>
      <div>
        <img src="{% static 'media/delivery-box.png' %}" alt="delivery" />
        <div>
          <h2>Fast Shipping</h2>
          <p>We provide excellent customer services.</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <img src="{% static 'media/logis-50.jpg' %}" alt="shipper" />
  </div>
</section>

<section class="beyond-logistics">
  <div class="shade">
    <div class="logistics__first">
      <h1>Go Beyond Logistics, Make The World Go Round</h1>
      <strong class="bold">
        We represent UN Delivery Company, a company with more than 35 years in
        the market and globally positionedamong the top three companies in the
        logistics sector.
      </strong>
      <p>
        Our qualified human team guarantees you an essential experience and
        professionalism, with a personalized treatment to solve any of your
        needs.
      </p>
      <div class="ceo__con">
        <img src="{% static 'media/avatar-7.jpg' %}" alt="ceo" />
        <div class="ceo__info">
          <h5 class="ceo__name">Daniel Kyle</h5>
          <p class="ceo__role">UN Delivery Company CEO</p>
        </div>
      </div>
    </div>
    <div class="logistics__last">
      <div class="cards">
        <div class="card">
          <img src="{% static 'media/beyondlog/shield.png' %}" alt="" />
          <div>
            <h5>Certified Process</h5>
            <p class="faded">We drive you towards continuous improvement.</p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'media/beyondlog/touch.png' %}" alt="" />
          <div>
            <h5>High Technology</h5>
            <p class="faded">Authorization and Compliance Service.</p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'media/beyondlog/shield.png' %}" alt="" />
          <div>
            <h5>Awarded Company</h5>
            <p class="faded">The best highly efficient customs brokerage.</p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'media/beyondlog/support-2.png' %}" alt="" />
          <div>
            <h5>24/7 Support</h5>
            <p class="faded">
              We care for security of the packages we transport.
            </p>
          </div>
        </div>
      </div>
      <div class="video__play">
        <a href="https://www.youtube.com/watch?v=KEFt2quibkg">
          <div class="pulse"><i class="fas fa-play"></i></div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="meet_the_team">
  
  <h3>Go Far Together</h3>
  <h1>Meet The Team</h1>

  <div>
    <div class="teammates">
      <img src="{% static 'media/team/team-portrait-4.jpg' %}" alt="" />
      <div class="info">
        <h4>Harry Callum</h4>
        <p>Warehouse Principal</p>
      </div>
    </div>
    <div class="teammates">
      <img src="{% static 'media/team/team-portrait-5.jpg' %}" alt="" />
      <div class="info">
        <h4>Anthony Lauren</h4>
        <p>Logistics Coordinator</p>
      </div>
    </div>
    <div class="teammates">
      <img src="{% static 'media/team/team-portrait-6.jpg' %}" alt="" />
      <div class="info">
        <h4>Oliver Jacob</h4>
        <p>Logistics Analyst</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
