{% load static %}
<div class="navbar">
    <div class="container d-flex">
        <div class="logo-con"><img src={% static 'media/header/headerlogo.png' %} alt='logo'/></div>
        <nav>
            <i class="fa fa-bars fa-2x d-none" id="toggler"></i>
            <ul class="d-flex" id="navid">
                <a class="btn btn-outline-light" href="/">Home</a>
                <a class="btn btn-outline-light" href="/tracking">
                    Tracking</a>
            </ul>
        </nav>
    </div>
</div>